<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <script>application_path="@Url.Content("~/")";</script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/app")
    @Scripts.Render("~/bundles/flot")

    <link rel="stylesheet" href="~/Content/VpMachine.css" />
    <link rel="stylesheet" href="~/Content/Bootstrap.css" />
</head>
<body ng-app="vpPlay" ng-controller="vpPlayController">
    <vp-machine></vp-machine>
</body>
</html>